In [1]:
import pandas as pd
import json

In [2]:

path = "../data/"
file = "MDS-01.txt"
df = pd.read_csv(path + file, sep=' ', header=None)
df = df.rename(columns={0:'feature_code', 1 : 'x', 2: "y", 3:'z'}, errors="raise")

In [24]:
m = 1000000
n = df.shape[0]/1000000
a = df['y'].min()

for i in range(int(n)):
    print((a, a + m))
    a += m

(2358917.0, 3358917.0)
(3358917.0, 4358917.0)
(4358917.0, 5358917.0)
(5358917.0, 6358917.0)
(6358917.0, 7358917.0)
(7358917.0, 8358917.0)
(8358917.0, 9358917.0)
(9358917.0, 10358917.0)
(10358917.0, 11358917.0)

In [3]:
feature = {200:'Terreno natural',
201:'Terreno MDT (GRILLADO)',
300:'Árboles mayores a 1m. de altura',
301:'Árboles menores a 1m. de altura',
400:'Vía principal (avenida)',
401:'Vía secundaría',
404:'Carreteable',
406:'Vías Férreas',
500:'Edificio, casa, construcción',
504:'Tuberías',
506:'Silo',
509:'Puentes',
515:'Señal de transito o valla publicitaria',
518:'Estanques de combustible ',
600:'Río o canal navegable',
601:'Río o canal no navegable',
603:'Lago o jagüey',
698:'Torre existente alta tensión 34.5 kV',
701:'Torre existente alta tensión 230 kV',
702:'Torre existente alta tensión 500 kV',
703:'Torre existente otras',
704:'Postes ',
705:'Conductor de alta tensión 34.5 kV',
708:'Conductor de alta tensión 230 kV',
709:'Conductor de alta tensión 500 kV',
710:'Cable Guardia línea Eléctrica',
711:'Conductor otros',
712:'Cable de comunicación',
715:'Subestación',
101:'Riesgo Terreno Alto',
104:'Riesgo Vegetación Alto',
105:'Riesgo Vegetación Medio',
106:'Riesgo Vegetación Bajo',
107:'Riesgo Conductores Alto',
111:'Riesgo Carretera Alto'}

In [4]:
nice = [698, 701, 702, 703]

In [5]:
Torres = df[df['feature_code'].isin(nice)].sort_values(by='y')

In [34]:
Torres.to_csv("torres.csv")

In [6]:
minT = Torres['y'].min()
Torres[Torres['y'] < minT + 50]

         feature_code            x            y         z
210367            701  5056538.157  2359008.682  1795.035
210368            701  5056538.237  2359008.753  1794.987
210369            701  5056538.341  2359008.829  1795.207
210370            701  5056538.424  2359008.889  1794.992
210241            701  5056538.975  2359008.982  1795.456
...               ...          ...          ...       ...
2284508           701  5056551.763  2359020.835  1795.039
2284509           701  5056551.839  2359020.904  1795.143
2284510           701  5056551.931  2359020.977  1795.196
2284511           701  5056552.026  2359021.044  1795.170
2284512           701  5056552.119  2359021.118  1795.177

[1381 rows x 4 columns]

In [7]:
res = []
temp = Torres
while not temp.empty:
    minT = temp['y'].min()
    temp = temp[temp['y'] >= minT + 50]
    res.append(minT)

In [8]:
res

[2359008.682,
 2359287.53,
 2359826.713,
 2360107.572,
 2360373.435,
 2360552.125,
 2360973.16,
 2361579.613]

In [17]:
sections = [(res[i], res[i + 1]) for i in range(len(res) - 1) ]

In [19]:
for a,b in sections:
    seccion1 = df.query(f'y >= {a} & y <=  {b}')
    print(seccion1.shape)

(853323, 4)
(1728550, 4)
(1348985, 4)
(1212208, 4)
(917235, 4)
(1952585, 4)
(1461037, 4)

In [6]:

import pandas as pd
from collections import Counter
df = pd.read_csv("../data/Line1.csv")
df = df.sort_values(by=['y', 'x'])
df = df[:1000000]
Counter(list(df[df["Distance"].notnull()]['feature_code'])).most_common(20)

[(106, 2054),
 (105, 1732),
 (104, 1286),
 (710, 1189),
 (300, 764),
 (701, 463),
 (711, 268),
 (712, 254),
 (301, 6)]

In [26]:
path = "../data/"
dic = {}
nice = [698, 701, 702, 703]
for i in range(1, 12):
    file = "MDS-"+ str(i).zfill(2) + ".txt"
    print(file)
    df = pd.read_csv(path + file, sep=' ', header=None)
    df = df.rename(columns={0:'feature_code', 1 : 'x', 2: "y", 3:'z'}, errors="raise")

    Torres = df[df['feature_code'].isin(nice)].sort_values(by='y')

    res = []
    temp = Torres
    while not temp.empty:
        minT = temp['y'].min()
        temp = temp[temp['y'] >= minT + 50]
        res.append(minT)

    dic["MDS-" + str(i).zfill(2)] = res
    print(len(res))

with open('torres.json', 'w') as fp:
    json.dump(dic, fp)

MDS-01.txt
8
MDS-02.txt
10
MDS-03.txt
7
MDS-04.txt
9
MDS-05.txt
8
MDS-06.txt
10
MDS-07.txt
6
MDS-08.txt
4
MDS-09.txt
5
MDS-10.txt
7
MDS-11.txt
8

In [1]:

import laspy as lp
import numpy as np
import pandas as pd

las = lp.read("../data/MDS-1.las")

In [21]:
las.x

<ScaledArrayView([5056549.21038248 5056549.27438248 5056548.31538248 ... 5055413.07038248
 5055413.07038248 5055413.07038248])>

In [22]:
las.X

array([2699890, 2699954, 2698995, ..., 1563750, 1563750, 1563750])

In [20]:
set(list(las.synthetic))

{0, 1}